.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
#statitics{
  margin-top: 1vw;
  display: flex;
  justify-content: space-evenly;
  
}
#keyBoard{
  margin-top: -10vh;
}
#topRow{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
#midRow{
  display: flex;
  justify-content: center;
  margin-left: 60px;
}
#bottomRow{
  display: flex;
  justify-content: center;
  margin-left: -60px;
  
}
#speedButton{
background-color: darkslategray;
color: white;
border-radius: 14vh;
}
#speedTest{
  
 
  

}
#clock{
  color: darkslategray;
  font-weight: bold;
  font-size: 40px;

}

.key{
  height: 30px;
  width: 30px;
  text-align: center;
  border:  solid black 1px;
  background-color: darkslategray;
  color:  white;
  margin: 5px;
} 
#Enter{
  width: 70px;

}
#Space{
  margin-left: 43vw;
  width: 250px;

}
#word12{
  margin-top: -4%;
  color: darkslategray;
  font-weight: bold;
  font-size: 10px;
  opacity: 0.5;
  }
#word11{
  margin-top: -10%;
  color: darkslategray;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.7;
  }

#word{
margin-top: -18%;
color: darkslategray;
font-weight: bold;
font-size: 25px;
opacity: 0.85;
}
#word1{
  color: darkslategray;
  font-weight: bold;
  font-size: 50px;
  margin-top: -12%;
 
  
}
#word2{
  color: darkslategray;
  opacity: 0.85;
  font-weight: bold;
  font-size: 25px;
  margin-top: -8%;
  
  
}
#word3{
  color: darkslategray;
  opacity: 0.7;
  font-weight: bold;
  font-size: 16px;
  margin-top: -4%;
  
  
}
#word4{
  color: darkslategray;
  opacity: 0.5;
  font-weight: bold;
  font-size: 10px;
  margin-top: -3%;
  
  
}

#inputContainer{
  margin-top: 30px;
  display: flex;
  justify-content: center;
 
}

#inputText{
width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
 
  

  
}