.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
#topRow{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
#midRow{
  display: flex;
  justify-content: center;
  margin-left: 60px;
}
#bottomRow{
  display: flex;
  justify-content: center;
  margin-left: -60px;
  
}


.key{
  height: 30px;
  width: 30px;
  text-align: center;
  border:  solid black 1px;
  background-color: darkslategray;
  color:  white;
  margin: 5px;
} 
#Enter{
  width: 70px;

}
#Space{
  margin-left: 38%;
  width: 250px;

}

#inputContainer{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#inputText{
width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;

  
}